.body_about {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:rgb(173, 243, 224);
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-decoration: none;
}
.autor{
    margin: 0 70px;
}
.top_autor{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    border: 3px solid black;
    padding: 20px;
    width: 400px;
}
hr{
    border: 0;
    height: 2px;
    background-color: #000000;
    margin: 10px 0;
}
.bot_autor{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot_autor a {
    text-decoration: none;
}  