header{
  background-color: aqua;
  padding: 30px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  text-decoration: none;
}
input{
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.div1{
  display: flex;
  flex: row nowrap;
  justify-content: center;
  align-items: center;
}

.product-img{
  width: 50%;
  height: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#dropdown-basic {
  background-color: #28a745; 
  color: white;
  border-radius: 5px;
  width: 300px;
  height: auto;
  display: flex;
  flex: row nowrap;
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;

}

#dropdown-basic:hover {
  background-color: #218838;
  width: 300px;
}


.dropdown-item button {
  background-color: #f8f9fa;
  color: #007bff;
  border: none;
  padding: 10px 15px;
  text-align: left;
  width: 265px; 
}

.dropdown-item button:hover {
  background-color: #e2e6ea;
  color: #0056b3;
}
main section{
  width:80%;
}
main aside{
  width:20%;
  height: 45vh;
  background-color:yellowgreen;
  display: flex;
  flex: row nowrap;
  justify-content: left;
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main{
    height:500px;
    width:100%;
    display:flex;
    flex:row nowrap;
}
